<h2>{{ event._id != null ? 'Edit' : 'Add'}} Event</h2>
<hr/>
<form *ngIf="form" [formGroup]="form" (ngSubmit)="save()">
  <div class="edit-component">
    <mat-form-field>
      <input matInput formControlName="name" type="text" placeholder="Title">
      <mat-error *ngIf="name.errors?.required">required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-placeholder>Event starts at...</mat-placeholder>
      <mat-datetimepicker-toggle [for]="startDatetimePicker" matSuffix></mat-datetimepicker-toggle>
      <mat-datetimepicker #startDatetimePicker type="datetime" startView="month" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
      <input matInput formControlName="startDate" [matDatetimepicker]="startDatetimePicker" autocomplete="false">
      <mat-error *ngIf="startDate.errors?.required">required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-placeholder>Event ends at...</mat-placeholder>
      <mat-datetimepicker-toggle [for]="endDatetimePicker" matSuffix></mat-datetimepicker-toggle>
      <mat-datetimepicker #endDatetimePicker type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
      <input matInput formControlName="endDate" [matDatetimepicker]="endDatetimePicker" autocomplete="false">
      <mat-error *ngIf="endDate.errors?.required">required</mat-error>
      <mat-error *ngIf="form.errors">{{ form.errors?.dates | json }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="location" placeholder="Location">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput formControlName="notes" placeholder="Notes"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="calendar" placeholder="Calendar">
        <mat-option *ngFor="let calendar of calendars" [value]="calendar.name">
          {{calendar.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="calendar.errors?.required">required</mat-error>
    </mat-form-field>
    <div class="button-row">
      <button type="submit" mat-stroked-button color="primary">Save</button>
      <button mat-button color="primary" (click)="cancel()">Cancel</button>
    </div>
  </div>
</form>
