.card {
    border: 0;
    border-radius: 8px;
    margin-bottom: 1px;
}

.card-overlay-action {
    position:absolute;
    top:20px;
    right:0;
}

ul {
    list-style-type: none;
    margin: 0; padding: 0;
}

li {
    padding: 0;
}

a {
    color: #ffffff;
}